#editor
  #markdown-header
    | Markdown
    #text-input-box
      textarea#text-input(rows='37', cols='70')
  
    //- form#text-input-box(action='/markdown', method='post')
    //-   input(type='text', name='markdown', value='Mickey')
    //-   input(type='submit', value='Submit')
