doctype html
include includes/head.pug
form(method='post', action='/save')
.container
  include includes/sidebar.pug
  include includes/header.pug
  #content
    include includes/editor.pug
    include includes/preview.pug
