<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<div class="container">
  <div id="sidebar">
    <header>
      Markdown
    </header>
  </div>
  <div id="header">
    <button type="button">SAVE</button>
  </div>
  <div id="content">
    <div id="editor">
      <div id="markdown-header">
        Markdown
      </div>
      <div id="text-input-box">
        <textarea rows="40" cols="50"></textarea>
      </div>
    </div>
    <div id="preview">
      <div id="preview-header">
        Preview
      </div>

    </div>
  </div>
</div>
