.container {
  position: relative;
  padding: 0 0 0 55px;
  overflow: auto;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 290px;
  height: 640px;
  background: #999;
}

#new-file-button {
  float: left;
  margin-top: 10px;
}

#header {
  position: relative;
  border: 1px solid #000;
  width: 80%;
  height: 25px;
  margin: 0 0 5px 0;
  float: right;
}

#content {
  border: 1px solid #000;
  width: 80%;
  height: 600px;
  margin: 5px 0 5px 0;
  float: right;
}

#editor {
 position: relative;
 border: 1px solid #000;
 width:49.55%;
 height: 600px;
 float:left;
}

#markdown-header {
  position: absolute;
  border: 1px solid #000;
  width: 100%;
  height: 40px;
}

#text-input-box {
  padding:0px;
  width:100%;
  height:100%;
  margin: 30px 30px 10px 15px;
}

#preview {
 position: relative;
 width:49.55%;
 border: 1px solid #000;
 height: 600px;
 float:left;
}

#preview-header {
  position: absoulte;
  border: 1px solid #000;
  width: 100%;
  height: 40px;
}

#preview-render-box {
  padding:0px;
  width:99%;
  height:524px;
  margin: 30px 0 0;
  border: 1px solid #000;
}

button {
  float: right;
}

ul {
  margin-top: 40px;
}
